.selected-car {
    display: flex;
    align-items: center;
    padding: 13px 16px;
    height: 42px;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    color: color('grey-darkest');
    border: 1px solid rgba(198, 209, 221, .5);
    background-color: color('grey-light2');
}
