.cars-table {
    height: calc(100% - 58px - 58px); // Из-за searcher и result
    
    &__table {
        margin: 0;
        padding: 0;
        border-spacing: 0;
        line-height: 16px;
        color: color('grey-darkest');
        background-color: color('white');
        border-collapse: separate;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;

        @media (max-width: grid('md')) {
            overflow-x: scroll;
        }
    }

    &__head th {
        position: sticky;
        top: 0;
        min-height: 0;
        background: color('grey-light2');
    }

    &__row-item-head, &__row-item {
        padding: 16px;
        font-size: 12px;
        font-weight: normal;
        color: color('grey-darkest');
        text-align: center;
        border: 1px solid rgba(198, 209, 221, .5);

        @media (max-width: grid('xl')) {
            padding: 10px;
        }

        @media (max-width: grid('lg')) {
            padding: 8px;
        }

        @media (max-width: grid('xs')) {
            padding: 10px 5px;
        }
    }

    &__row-item-head {
        border-right: none;

        &:first-child {
            cursor: pointer;
        }

        &:last-child {
            border-right: 1px solid rgba(198, 209, 221, .5);
        }
    }
    
    &__row-item {
        color: color('black');
        border-top: none;
        border-right: none;
        cursor: pointer;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            border-right: 1px solid rgba(198, 209, 221, .5);
        }
    }

    &__row-item-svg {
        position: absolute;
        top: calc(50% - 8px);
        left: -30px;

        @media (max-width: grid('md')) {
            top: -22px;
            left: calc(50% - 8px);
        }
    }
}
