@keyframes ldio-49nnvff0v8s {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

.spinner {
    display: flex;
    justify-content: center;
}

.ldio-49nnvff0v8s div {
    left: 94px;
    top: 51px;
    position: absolute;
    animation: ldio-49nnvff0v8s linear 1s infinite;
    background: color('white');
    width: 12px;
    height: 18px;
    border-radius: 6px / 9px;
    transform-origin: 6px 49px;
}

.ldio-49nnvff0v8s div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9285714285714286s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(2) {
    transform: rotate(25.714285714285715deg);
    animation-delay: -0.8571428571428571s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(3) {
    transform: rotate(51.42857142857143deg);
    animation-delay: -0.7857142857142857s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(4) {
    transform: rotate(77.14285714285714deg);
    animation-delay: -0.7142857142857143s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(5) {
    transform: rotate(102.85714285714286deg);
    animation-delay: -0.6428571428571429s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(6) {
    transform: rotate(128.57142857142858deg);
    animation-delay: -0.5714285714285714s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(7) {
    transform: rotate(154.28571428571428deg);
    animation-delay: -0.5s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(8) {
    transform: rotate(180deg);
    animation-delay: -0.42857142857142855s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(9) {
    transform: rotate(205.71428571428572deg);
    animation-delay: -0.35714285714285715s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(10) {
    transform: rotate(231.42857142857142deg);
    animation-delay: -0.2857142857142857s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(11) {
    transform: rotate(257.14285714285717deg);
    animation-delay: -0.21428571428571427s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(12) {
    transform: rotate(282.85714285714283deg);
    animation-delay: -0.14285714285714285s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(13) {
    transform: rotate(308.57142857142856deg);
    animation-delay: -0.07142857142857142s;
    background: color('white');
}

.ldio-49nnvff0v8s div:nth-child(14) {
    transform: rotate(334.2857142857143deg);
    animation-delay: 0s;
    background: color('white');
}

.loadingio-spinner-spinner-4o63er0fu0d {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-49nnvff0v8s {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
  
.ldio-49nnvff0v8s div { 
    box-sizing: content-box;
}
